# **1. Simple ATM Calculator**

In [ ]:
Balance = eval(input("Enter the Balance amount: "))
Withdrawal = eval(input("Enter the Withdrawal amount: "))
a = Balance - Withdrawal
if(Balance>0) and (Withdrawal>0) and (Withdrawal<Balance):
  print("Transaction successful. Remaining balance: ₹",a)
elif(Withdrawal>Balance):
  print("Transaction Unsuccessful.Insufficient Balance")
  print("Current Balance:",Balance)
else:
  print("Please Enter a valid amount")

Enter the Balance amount: 2000
Enter the Withdrawal amount: 5000
Transaction Unsuccessful.Insufficient Balance
Current Balance: 2000

# **2. Electricity Bill Generator**

In [ ]:
Units_consumed = eval(input("Enter the Units consumed: "))
if(Units_consumed > 0) and (Units_consumed <= 200):
   if(Units_consumed <= 100):
        less_100=Units_consumed*5
        print("Bill amount : ₹",less_100)
   else:
        less_100 =100*5
        less_200 = (Units_consumed-100)*7
        print("Bill amount : ₹",less_200+less_100)
elif(Units_consumed > 200):
    morethan_200= (Units_consumed - 200)*10
    combined =(100*5)+(100*7)
    print("Bill amount : ₹",morethan_200 + combined)
else:
  print("Incorrect value")

Enter the Units consumed: 270
Bill amount : ₹ 1900

# **3. Temperature Converter**

In [ ]:
Temp = eval(input("Enter the temp in Celsius: "))
Unit = "C"
fahrenheit1 = (Temp*(9/5)+32)
fahrenheit =f"{fahrenheit1:.1f}"
print("Temperature in Fahrenheit:",fahrenheit,"F")

Enter the temp in Celsius: 37
Temperature in Fahrenheit: 98.6 F

# **4. Mobile Recharge Validity**

In [211]:
from datetime import date
Recharge_Date = date(2025,7,1)
Today_Date = date(2025,7,29)
Difference =Today_Date - Recharge_Date
print(Difference)
if Difference.days < 28:
  print("Plan is still valid")
else:
  print("Plan expired. Recharge again")

28 days, 0:00:00
Plan expired. Recharge again

# **5. Bus Seat Reservation System:**

In [ ]:
Booked = ['Amit', 'Sara', 'John']
print(Booked)
Booked.pop(1)
print(Booked)
Booked.insert(1,"Neha")
print(Booked)

['Amit', 'Sara', 'John']
['Amit', 'John']
['Amit', 'Neha', 'John']

# **6. Sum of even numbers**

In [ ]:
x= eval(input("Enter a number : "))
sum = 0
for i in range(1,x):
     if(i%2==0):
        sum = sum+i
print("Sum of even numbers :",sum)

Enter a number : 10
Sum of even numbers : 20

# **7. Dictionary – Student Marks Summary**

In [232]:
students = {}
total_marks=0
no_of_students=3
for _ in range(no_of_students):
  name=input("enter name:")
  marks=int(input("Enter Mark:"))
  students[name]=marks
  total_marks+=marks
avg1=total_marks/no_of_students
avg=f"{avg1:.1f}"
print("Average Marks:",avg)

enter name:Rose
Enter Mark:55
enter name:Devi
Enter Mark:60
enter name:Masha
Enter Mark:70
Average Marks: 61.7

# **8. Dictionary – Word Frequency**

In [199]:
sentence = input("Enter a sentence: ")
words=sentence.split(" ")
count = 0
dict={}
for w in words:
   if w in dict:
         dict[w]+=1
   else:
      dict[w]=1;
print(dict)

Enter a sentence: hello world hello python
{'hello': 2, 'world': 1, 'python': 1}

# **8. Functions – Check Prime**

In [229]:
def prime(x):
   if(x%2!=0) and (x>1) or (x==2):
      print(x,"is a prime number")
   else:
      print(x,"is not a prime number")
prime(eval(input("Enter a number: ")))

Enter a number: 17
17 is a prime number

# **9. Vowel Counter**

In [230]:
def string_new(v):
 Count = 0
 for i in v:
   if(i=='a') or (i=='e') or (i=='i') or (i=='o') or (i=='u') or (i=='A') or (i=='E') or (i=='I') or (i=='O') or (i=='U'):
      Count=Count+1
 print("Total count of vowels:",Count)
string_new(input("Enter a string: "))

Enter a string: python PROGRAMMING
Total count of vowels: 4

# **10. Count Divisible Numbers**

In [231]:
N = eval(input("Enter the range limit(N): "))
D = eval(input("Enter the divisor(D): "))
count1 =0
if(N>0) and (N>D) and (D>0):
 for i in range(1,N+1):
   if(i%D==0):
     count1=count1+1
 print("Count of numbers divisible by",D,":",count1)
else:
  print("Invalid Input")

Enter the range limit(N): 50
Enter the divisor(D): 5
Count of numbers divisible by 5 : 10